beautifulsoup4==4.13.4
cantok==0.0.32
certifi==2025.4.26
charset-normalizer==3.4.2
colour==0.1.5
displayhooks==0.0.4
emptylog==0.0.10
escaping==0.0.15
idna==3.10
locklib==0.0.17
pillow==11.2.1
printo==0.0.5
requests==2.32.3
setuptools==80.9.0
simpleaudio==1.0.4
soupsieve==2.7
tk==0.1.0
tkdial==0.0.7
typing_extensions==4.13.2
urllib3==2.4.0
